@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Nunito&display=swap');

$font-body: "Roboto", "sans-serif";
$font-family: "Merriweather Sans", sans-serif;

$color-primary: rgb(255, 252, 246) ;
$color-primary-footer: lemonchiffon; 
$color-secondary: midnightblue;
$color-secondary-light: lightskyblue;
$color-black: #333333;
$color-white: #fafafa;