@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-secondary;
}

a:link,
a:visited {
    text-decoration: none;
}

.navigation {
    height: 10vh;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 190px;
        margin-left: 10px;
    }
    
    .login-button {
        display: block;
        width: 90px;
        height: 0px;

        font-size: 15px;
        font-weight: bold;
        font-family: $font-display;
        text-align: center;

        border: 1px solid $color-secondary;
        border-radius: 5px;
        padding: 12px 20px 30px 20px;
        margin-right: 25px;

        background-color: $color-primary;
        color: $color-secondary;
    }

}

.header {
    background-color: $color-primary;
    text-align: center;

    .intro{
        
        .title {
            font-family: $font-body;
            color: $color-secondary-light;
            font-size: 35px;
        }

    }

    .headings{

        .heading {
            font-family: $font-display;
            color: $color-secondary;
            font-size: 25px;
            margin: 20px 0;
        }

        .sub-heading{
            font-family: $font-display;
            color: $color-secondary-light;
            font-size: 25px;
            margin: 20px 0;
        }

        .button {
            margin: 0 auto;
        }
    }   

    h5 {
        font-family: $font-display;
        color: $color-secondary;
        font-size: 25px;
        margin: 20px;
        margin-bottom: -1px;
       
    }
}

.section {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    .penguin-1 {

        img {
            float: right;
        }

        p {
            width: 300px;
            padding: 30px 30px 30px 30px;
            margin: 20px 20px 20px 20px;           
        }
    }

    .penguin-2 {

        img {
            float: left;
        }

        p {
            width: 300px;
            padding: 30px 30px 30px 30px;
            margin: 20px 20px 20px 20px;           
        }
    }

    .penguin-3 {

        img {
            float: right;
        }

        p {
            width: 300px;
            padding: 30px 30px 30px 30px;
            margin: 20px 20px 20px 20px;           
        }
    }

    .penguin-4 {

        img {
            float: left;
        }

        p {
            width: 300px;
            padding: 30px 30px 30px 30px;
            margin: 20px 20px 20px 20px;           
        }
    }

    .button {
        margin: 0 auto;
    }

}

.button {
    display: block;
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    padding: 28px 10px;
    border: 2px solid $color-secondary;
    border-radius: 20px;
    background-color: $color-secondary;
    color: $color-primary;
}

.footer {
    background-color: $color-primary-light;
    text-align: center;
    color: $color-secondary;

    padding: 20px;
}